Package: com.thomasfinch.dim
Name: Dim (udevs)
Depends: mobilesubstrate, preferenceloader, com.opa334.ccsupport
Version: 1.5.3
Architecture: iphoneos-arm
Description: Dim your screen even further!
Maintainer: Thomas Finch <tomf64@gmail.com>
Author: Thomas Finch <tomf64@gmail.com>
Section: Tweaks
